<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <title>CBNUShop</title>
</head>

<body>
    <nav class="navbar navbar-light fixed-top navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/signin">
                <br>
                <img src="/images/logo.png" alt="CloudLadder Logo" style="height: 160px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOpen">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarOpen">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link home-nav" href="#" style="font-size: 30px; font-weight: bold;">홈</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link signin-nav" href="#" style="font-size: 30px; font-weight: bold;">로그인</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="carouselIndicator" class="carousel slide" data-ride="carousel">
        <div id="carouselIndicator" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselIndicator" data-slide-to="0" class="active"></li>
                <li data-target="#carouselIndicator" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <video class="d-block w-100" autoplay loop playsinline muted>
                        <source src="/video/video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div class="carousel-caption">
                        <h5 style="font-weight: bold; font-size: 120px; color: rgb(42, 14, 34);">CBNU SHOP</h5>
                        <p class="d-none d-md-block" style="color: rgb(0, 0, 0); font-size: 26px; font-weight: bold;">
                            Experience the premium goods of Chungbuk National University
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/images/2.jpg" class="d-block w-100">
                    <div class="carousel-caption" style="bottom: 25%;">
                        <div class="containerlogin">
                            <br>
                            <h2 style="font-weight: bold; font-size: 40px; color: rgb(255, 255, 255)">로그인</h2>
                            <form id="signinForm">
                                <div class="form-item">
                                    <span class="material-icons-outlined">email</span>
                                    <input type="email" name="email" id="email" placeholder="이메일" required>
                                </div>
                                <br>
                                <div class="form-item">
                                    <span class="material-icons-outlined">lock</span>
                                    <input type="password" name="password" id="userPw" placeholder="비밀번호">
                                </div>
                                <br>
                                <button type="submit" style="border-radius: 15px;">로그인</button>
                                <div class="signup-link">
                                    <br>
                                    <a href="/signup"
                                        style="font-size: 24px; font-weight: bold; color:rgb(253, 247, 236);">회원가입</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#carouselIndicator" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicator" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <script src="/js/signin.js"></script>
    <script>
        $(document).ready(function () {
            $('.home-nav').click(function (e) {
                e.preventDefault();
                $('#carouselIndicator').carousel(0);
            });
            $('.signin-nav').click(function (e) {
                e.preventDefault();
                $('#carouselIndicator').carousel(1);
            });
        });
    </script>
</body>

</html>